// COLOR PALETTE
$picton-blue: #30bced;
$tuna: #303036;
$tutu: #fffaff;
$outrageous-orange: #fc5130;
$acadia: #050401;

// FONTS
$Roboto: 'Roboto', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$PlayFairDisplay: 'Playfair Display', serif;

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: $tutu;
  font-family: $Roboto;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, a, p, dl, dt, dd {
  margin: 0;
  padding: 0;
  font-family: $Roboto;
  color: $acadia;
}

.viewport {
  height: 100vh;
}

aside,
section {
  height: 100vh;
}

aside {
  background-color: $tuna;
  overflow-y: scroll;
  left: -100%;
  transition: left 0.3s ease-in;
  animation: load 0.3s forwards;
}

@keyframes load {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@-webkit-keyframes load {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

section {
  overflow-y: hidden;
}

.logo {
  background: url('/assets/behance.png') center left no-repeat;
  position: absolute;
  height: 60px;
  width: 100%;
  bottom: 10px;
  left: 10px;
}
