// BUTTON COLORS
$button-hover-blue: #30bced;
$button-text-hover-white: #fff;

.btn {
  width: 60px;
  height: 100%;
  position: absolute;
  display: block;
  border-radius: 0;
  z-index: 1;
  background-color: $button-text-hover-white;
  transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  opacity: 0.4;

  &.left,
  &.right {
    top: 0;
  }

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  &.exit {
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 200px;
    height: 40px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;

    animation: show 0.3s forwards;

    span {
      display: block;
      margin-top: 4px;
    }
  }

  &:hover {
    opacity: 1;
  }

  &:active {
    background-color: $button-hover-blue;
    color: $button-text-hover-white;
  }

  .fa-chevron-left,
  .fa-chevron-right {
    font-size: 30px;

    &:before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      height: 30px;
      width: 25px;
    }
  }

  .fa-expand {
    font-size: 25px;
    float: left;
  }
}

@keyframes show {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  100% {
    -webkit-transform: none;
		transform: none;
  }
}

@-webkit-keyframes show {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    -webkit-transform: none;
		transform: none;
  }
}
